.hero {
    position: relative;
}

.hero-text {
    position: absolute;
    color: white;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-text {
        position: static;
        text-align: left;
    }
}

header {
    font-family: 'Bebas Neue', sans-serif;
    color: #f78da7;
}