{% extends "base.html" %}

{% block content %}
    <h2>Welcome to MySite</h2>
    <p>This is the home page. Here is some introduction to the site.</p>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                <img src="{{ post.hero_image }}" alt="{{ post.title }}">
                <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p>{{ post.snippet }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}